@using Sitecore.Mvc
<div class="container">

    @Html.Sitecore().Placeholder("mainservice")
    <div>
        @Html.Sitecore().Placeholder("servicesection")
        <div>
            <div>
                @Html.Sitecore().Placeholder("servicetitle")
            </div>

            <div>

                @Html.Sitecore().Placeholder("servicecallout")
            </div>
        </div>
        </div>
    <div>
        @Html.Sitecore().Placeholder("faqsection")
        <div>
            <div>
                @Html.Sitecore().Placeholder("faqtitle")
            </div>

            <div>
                @Html.Sitecore().Placeholder("faqcallout")
            </div>
        </div>
    </div>
  </div>
